{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('build/css/login.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="login-form">
            <div class="main-div">
                <div class="panel">
                    <h1>Registration</h1>
                        {% if error is defined %}
                            <div class="alert alert-danger">
                                {{ error.message }}
                            </div>
                        {% endif %}
                        {{ form_start(form) }}
                            {{ form_row(form.email) }}
                            {{ form_row(form.password) }}
                            {{ form_row(form.phone) }}
                            <hr/>
                            {{ form_row(form.group) }}
                            {{ form_row(form.firstName) }}
                            {{ form_row(form.lastName) }}
                            <div class="forgot" style="height:20px">
                                <a style="float:left" href="{{ path('forgot_password') }}">Forgot Password?</a>
                                <a style="float:right" href="{{ path('login') }}">Login</a>
                            </div>
                            <div class="auth-btn-section">
                                <button type="submit" id="form_submit" name="form[submit]" class="btn btn-small btn-primary" style="width:45%;float:left">Register</button>
                                <button type="reset" id="form_reset" name="form[reset]" class="btn btn-small btn-secondary" style="width:45%;float:right;height:50px">Reset</button>
                            </div>                            
                        {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>    
{% endblock %}
